<%- include('../header.ejs') -%>
<head> 
  <style>
    #map {
      height: 500;
      width: 100%;
    }
  </style>

</head>

<body>
  <div id="map"></div>
  <script>
    function initMap() {
      let nanaimo = {lat: 49.164242, long: -123.942598};
      var map = new google.maps.Map(document.getElementById('map'), {zoom: 13, center: nanaimo})
    };
    <% for(var i=0; i<houses.length; i++) { %>
      console.log("House lat:" + <%= houses[i].location.latitude %> );
    <% } %>
    
    let marker = new google.maps.Marker({ position: {lat: <%=houses[i].location.latitude %>, long: <%=houses[i].location.longtitude %> } })
  </script>
</body>
